#DATABASE
TYPEORM_DATABASE=your-database-name
TYPEORM_USERNAME=your-database-username
TYPEORM_PASSWORD=your-database-password

#CDN INTEGRATION
CDN_ACCESS_TOKEN=xxxxx
CDN_CONTENT_TYPE=xxxx
CDN_SPACE_ID=xxxx
CDN_ENVIROMENT_ID=xxx
CDN_BASE_URL=xxxxx
#JWT
JWT_SECRET=super-secret