#DATABASE
TYPEORM_DATABASE=your-database-name
TYPEORM_PASSWORD=your-database-password
TYPEORM_USERNAME=your-database-username

#CDN INTEGRATION
CDN_ACCESS_TOKEN=xxxxx
CDN_BASE_URL=xxxxx
CDN_CONTENT_TYPE=xxxx
CDN_ENVIROMENT_ID=xxx
CDN_SPACE_ID=xxxx
#JWT
JWT_SECRET=super-secret

